body {
  background-color: #ccc;
  /* background-color: #f9f8f6; */
  font-family: Arial, Helvetica, sans-serif;
  color: #0c090a;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.content {
  position: relative;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#pool {
  z-index: 0;
}

#game {
  z-index: 1;
  top: 48px;
  left: 48px;
  /* border: 1px solid pink; */
}
